nav{
    display: flex;
    justify-content: center;
}
nav li{
    list-style: none;
}
nav li a, .button{
    display: block;
    width: 120px;   
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    padding: 5px 15px;
    margin: 0 5px;
    box-shadow: 2px 2px 5px gray;
    border-radius: 2px;
}